.rate{
  background-color: #280808;
  padding-top: 140px;

}
.container{
  display: flex;
  align-items: center;
}
.container-radio{
  position: absolute;
  right: 200px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
  padding-top: 160px;
}
.grid-item {
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  display: flex;
}
.img{
  width: 100%;
}
.ratediv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #660708;
  width: 600px;
  height: 80px;
  border-radius: 10px;
  box-shadow: #001b2f 0px 0px 10px;
  margin: 0 auto;
}
.ratediv h2{
  font-weight: bold;
  color: white;
}
.container-radio{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #660708;
  width: 160px;
  height: 80px;
  border-radius: 10px;
  box-shadow: #001b2f 0px 0px 10px;
  margin: 0 auto;
}


.radio {
  background: #2c0404;
  padding: 4px;
  border-radius: 10px;
  position: relative;
}

.radio input {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 8px;
  background: #2c0404;
  color: #bdbdbdbd;
  font-size: 14px;
  font-weight: 520;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: all 100ms linear;
}

.radio input:checked {
  background-image: linear-gradient(194deg, #e50000, #530709);
  color: #fff;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media (max-width: 1350px) {
  .container{
    display: block;
  }
  .container-radio{
    position: relative;
    right: 0px;
    background-color: transparent;
    box-shadow: none;
  }
  .ratediv{
    width: unset;
    max-width: 600px;
  }
  .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 42px;
  }
}
@media (max-width: 730px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 42px;
    padding-bottom: 60px;
  }
}
