
<div id="rate" class="rate">
  <div class="container">
  <div class="ratediv">
    <h2>Les tendances {{titleDayOrWeek}}</h2>
  </div>
  <div class="container-radio">
    <div class="radio">
      <input label="Jour" (click)="getDayOrWeek('day')" type="radio"  name="gender" checked>
      <input label="Semaine" (click)="getDayOrWeek('week')" type="radio"  name="gender" >
    </div>
  </div>
  </div>
  <div class="grid">
    <div class="grid-item" *ngFor="let movie of movie.results" >
      <img class="img" (click)="getTypeAndId(movie)" [src]="baseUrl + 'w300/' + movie.poster_path">
    </div>
  </div>
</div>
