<footer  class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-2 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn" href="https://www.linkedin.com/in/thomas-delecluse/" role="button">
        <img src="./assets/img/linkedin.png" width="40" height="40" alt="">
      </a>

      <!-- GitHub -->
      <a class="btn " href="https://github.com/Thomasdelecluse" role="button">
        <img src="./assets/img/signe-github.png" width="40" height="40" alt="">
      </a>


      <!-- Tmdb -->
      <a class="btn" href="https://www.themoviedb.org/?language=fr" role="button">
        <img src="./assets/img/tmdb.png" width="60" height="40" alt="">
      </a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Thomas Delecluse</a>
  </div>
  <!-- Copyright -->
</footer>
