.navbar{
  position: fixed !important; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background: hsl(359, 87%, 21%);

  background: linear-gradient(12deg, hsl(359, 87%, 21%) 0%, hsl(330, 10%, 4%) 100%);

  background: -moz-linear-gradient(12deg, hsl(359, 87%, 21%) 0%, hsl(330, 10%, 4%) 100%);

  background: -webkit-linear-gradient(12deg, hsl(359, 87%, 21%) 0%, hsl(330, 10%, 4%) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0968E5", endColorstr="#091970", GradientType=1 );
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-nav{
  justify-content: right;
  width: 100%;
}
.navbar-nav{
  padding-right: 150px;
}

