<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login"><img src="../assets/img/Logo.png" width="70" height="70" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <app-button href="#presentation" name="Présentation"></app-button>
        <app-button href="#competence" name="Compétence"></app-button>
        <app-button href="#projet" name="Projet"></app-button>
        <app-button href="#contact" name="Contact"></app-button>
      </ul>
    </div>
  </div>
</nav>
