<div id="presentation" class="presentation">
  <div class="containeur">
    <div>
      <img src="../assets/img/moi.png" alt="" width="400" height="400">
    </div>
    <div class="txt">
      <article>
        <strong>
          Passionné par l'informatique (programmation), j'intègre un <br>
          cursus informatique et numérique au CESI. Dans la continuité
          de mon diplome bacC+2,<br>
          je souhaite valider une licence de concepteur et développeur d'applications et mettre a disposition,<br>
          compétences théoriques et pratiques d'une entreprise au travers d'un
          extrait d'alternance</strong>
      </article>
    </div>
  </div>
  <div class="wave"></div>
</div>
