<div class="grid">
  <app-cercle image="/assets/img/php.svg"></app-cercle>
  <app-cercle image="/assets/img/java.svg"></app-cercle>
  <app-cercle image="/assets/img/javascript.svg"></app-cercle>
  <app-cercle image="/assets/img/html.svg"></app-cercle>
  <app-cercle image="/assets/img/css.svg"></app-cercle>
  <app-cercle image="/assets/img/kotlin.svg"></app-cercle>
  <app-cercle image="/assets/img/angular.svg"></app-cercle>
  <app-cercle image="/assets/img/typescript.svg"></app-cercle>
  <app-cercle image="/assets/img/c.svg"></app-cercle>
  <app-cercle image="/assets/img/cplus.svg"></app-cercle>
  <app-cercle image="/assets/img/github.svg"></app-cercle>
  <app-cercle image="/assets/img/docker.svg"></app-cercle>
</div>
