.slider {
  display: flex;
  overflow-x: scroll;
  padding: 10px 20px;
  gap: 20px;
}

.slider::-webkit-scrollbar {
  height: 8px;
  width: 8px
}

.slider::-webkit-scrollbar-track {
  background: transparent
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 20px
}
