.page{
  padding-bottom: 150px;
  padding-top: 79px;
  background-image: url("/assets/img/actor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #b8a4a4;
  width: 1300px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ;
  border: none;
  border-radius: 10px;
}
.card-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: hsl(359, 87%, 21%);
  background: linear-gradient(12deg, hsl(359, 87%, 21%) 0%, hsl(330, 10%, 4%) 100%);
  background: -moz-linear-gradient(12deg, hsl(359, 87%, 21%) 0%, hsl(330, 10%, 4%) 100%);
  background: -webkit-linear-gradient(12deg, hsl(359, 87%, 21%) 0%, hsl(330, 10%, 4%) 100%);
}

.card-title{
  text-align: center;
  color: white;
}
.title{
  padding-top: 15px;
  margin: 0;
}
.title_birth{
  padding-top: 10px;
}
.left-side{
  width: 300px;
}
.row{
  flex-wrap: nowrap;
}
@media (max-width: 945px) {
  .page{
    height: auto;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .row{
    flex-wrap: wrap;
  }

}
@media (max-width: 730px) {
  .col-md-4{
    margin: auto;
  }
}
@media (max-width: 1350px) {
  .page{
    height: auto;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
