<app-navbar></app-navbar>
<div class="page">
  <div *ngIf="type == 'movie' ">
    <p class="title"><strong>{{movieDetails?.title}}</strong> ({{yearMovieDetails}})</p>
  </div>
  <div *ngIf="type == 'tv' ">
    <p class="title"><strong>{{tvDetails?.name}}</strong> ({{yearTvDetails}})</p>
  </div>

  <div class="detail" *ngIf="type == 'movie' "
       [style.background]="'linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('+baseUrl + 'original/' + movieDetails?.backdrop_path+') center/cover'"
       [style.background-size]="'cover'">
    <div *ngIf="type == 'movie' ">
      <div class="detail__header">
        <div class="detail__header__image">
          <img [src]="baseUrl + 'w400/' + movieDetails?.poster_path" alt="Ce film ne contient pas d'image' ">
        </div>
        <div class="detail__header__description">
          <h1 class="tagline">{{movieDetails?.tagline}}</h1>
          <h1 class="genre"><strong>{{movieDetails?.release_date}} {{genreMovieDetails}} • {{movieTime}}</strong></h1>
          <div>
            <img *ngFor="let _ of rateMovieDetails" src="/assets/img/etoile.png" width="15" height="15" alt="">
            <img *ngFor="let _ of negativeRateMovieDetails" [style.filter]="'saturate(0)'" src="/assets/img/etoile.png"
                 width="15" height="15" alt="">
          </div>
          <label for="description_movie"><strong>Synopsis</strong></label>
          <p id="description_movie">{{movieDetails?.overview}}</p>
          <div class="budget">
            <div class="b_budget">
              <label class="label-budget" for="budget_movie"><strong>Budget</strong></label>
              <p id="budget_movie">{{ budget }}</p>
            </div>
            <div class="b_budget">
              <label class="label-budget" for="revenue_movie"><strong>Revenu</strong></label>
              <p id="revenue_movie">{{revenu}}</p>
            </div>
          </div>
          <div class="error" *ngIf="movieDetails?.overview == '' ">
            <p>Ce film ne contient pas de description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail" *ngIf="type == 'tv' "
    [style.background]="'linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('+baseUrl + 'original/' + tvDetails?.backdrop_path+') center/cover'"
    [style.background-size]="'cover'">
      <div class="detail__header">
        <div class="detail__header__image">
          <img [src]="baseUrl + 'w400/' + tvDetails?.poster_path" alt="Ce film ne contient pas d'image' ">
        </div>
        <div class="detail__header__description">
          <h1 class="tagline">{{tvDetails?.tagline}}</h1>
          <h1 class="genre"><strong>{{tvDetails?.first_air_date}} {{genreTvDetails}}</strong></h1>
          <div>
            <img *ngFor="let _ of rateTVDetails" src="/assets/img/etoile.png" width="15" height="15" alt="">
            <img *ngFor="let _ of negativeRateMovieDetails" [style.filter]="'saturate(0)'" src="/assets/img/etoile.png"
                 width="15" height="15" alt="">
          </div>
          <label for="description_tv"><strong>Synopsis</strong></label>
          <p id="description_tv">{{tvDetails?.overview}}</p>
          <div class="error" *ngIf="tvDetails?.overview == '' ">
            <h2>Cette serie ne contient pas de description</h2>
          </div>
          <div class="saison">
            <div class="s_saison">
              <label class="label-saison" for="saison"><strong>{{season_text}}</strong></label>
              <p class="saison_text" id="saison">{{ seasonNumber }}</p>
            </div>
            <div class="s_saison">
              <label class="label-saison" for="episode"><strong>{{episode_text}}</strong></label>
              <p class="saison_text" id="episode">{{ episodeNumber }}</p>
            </div>
          </div>
          <button class="btn-contact"><a href="{{tvDetails?.homepage}}" class="button">Regarder la serie</a></button>
        </div>
      </div>
    </div>
  <div class="bas-page">
    <h1 class="title_slider">Têtes d'affiche :</h1>
    <app-detail-slider class="slider" [items]="actors?.cast"></app-detail-slider>
  </div>

</div>

<app-footer></app-footer>

