<app-navbar></app-navbar>
<div class="page">
  <p class="title"><strong>{{movieDetails?.title}}</strong> ({{yearMovieDetails}})</p>
  <div class="detail"
       [style.background-image]="'url('+baseUrl + 'original/' + movieDetails?.backdrop_path+')'"
       [style.background-size]="'cover'">
      <div *ngIf="type == 'movie' ">
        <div class="detail__header">
          <div class="detail__header__image">
            <img [src]="baseUrl + 'w400/' + movieDetails?.poster_path" alt="Ce film ne contient pas d'image' ">
          </div>
          <div class="detail__header__description">
            <h1 class="tagline">{{movieDetails?.tagline}}</h1>
            <h1 class="genre"><strong>{{movieDetails?.release_date}} {{genreMovieDetails}}</strong></h1>
            <label for="description"><strong>Synopsis</strong></label>
            <p id="description">{{movieDetails?.overview}}</p>
          </div>
          <div class="error" *ngIf="movieDetails?.overview == '' ">
            <h2>Ce film ne contient pas de description</h2>
          </div>
        </div>
      </div>
    <div *ngIf="type == 'tv' ">
      <h1>{{tvDetails?.name}}</h1>

      <div class="detail__header">
        <div class="detail__header__image">
          <img [src]="baseUrl + 'w400/' + tvDetails?.poster_path" alt="Ce film ne contient pas d'image' ">
        </div>
        <div class="detail__header__description">
          <h2>{{tvDetails?.overview}}</h2>
        </div>
        <div class="error" *ngIf="tvDetails?.overview == '' ">
          <h2>Ce film ne contient pas de description</h2>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

