.page{
  background-color: #cfcfcf;
  padding-top: 100px;
  padding-bottom: 120px;
}
p{
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
label {
  color: white;
}
.detail{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #F5F3F4;
  padding: 50px;

}
.detail__header{
    display: flex;

}
label{
  font-size: 1.7em;
  padding-bottom: 20px;
  padding-top: 20px;
}
.title{
  color: black;
  text-align: center;
  padding-bottom: 15px;
  font-size: 2.5em;
}
.detail__header h2{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}
.detail__header__description{
  padding-top: 40px;
}
.detail__header__image{
  padding-right: 40px;
}
.error{
  padding-top: 40px;
}
.error h2{
  font-size: 1.7em;
}
.genre{
  font-size: 1rem;
}
.tagline{
  font-size: 1.7em;
  padding-bottom: 10px;

}

